.navBar {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}

.navBar img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    cursor: pointer;
}

.navBar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    margin: 0;
}

.navBar ul li {
    font-weight: 700;
    color: #555;
    font-size: 14px;
}

.navBar svg {
    font-size: 1.5rem;
}

.navBar.active #icons::before {
    content: '\2715';
    font-size: 1.5rem;
}

.navBar #icons::before {
    content: "\2630";
    font-size: 1.5rem;
}

.navBar .icons {
    display: flex;
    align-items: center;
    gap: .5rem;
}

@media screen and (max-width:800px) {
    .navBar {
        padding: 1rem;
    }

    .navBar #icons {
        display: block;
    }

    .navBar.active #icons::before {
        content: '\2715';
        font-size: 1.5rem;
        z-index: 1000;
    }

    .navBar #icons::before {
        content: "\2630";
        font-size: 1.5rem;

    }

    .navBar ul {
        position: absolute;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #084298;
        width: 70%;
        text-align: center;
        transition: .25s;
        padding: 1rem;
        height: 100vh;
        z-index: 1000000000;
        justify-content: center;
    }

    .navBar.active ul li {
        padding: 3px 0;
        color: #fff;
        font-size: 1.2rem;
    }

    .navBar ul li:hover {
        background-color: #578ad6;
    }

    .navBar.active ul {
        left: 0;
    }
}