@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Michroma&family=Open+Sans:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}